
.icon-mail-1:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-heart-empty:before { content: '\e804'; } /* '' */
.icon-reply-outline:before { content: '\e805'; } /* '' */
.icon-forward-outline:before { content: '\e806'; } /* '' */
.icon-sun-filled:before { content: '\e807'; } /* '' */
.icon-bookmark:before { content: '\e808'; } /* '' */
.icon-basket-1:before { content: '\e809'; } /* '' */
.icon-videocam:before { content: '\e80a'; } /* '' */
.icon-picture:before { content: '\e80b'; } /* '' */
.icon-camera:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-basket-alt:before { content: '\e80e'; } /* '' */
.icon-attach-1:before { content: '\e80f'; } /* '' */
.icon-sun:before { content: '\e810'; } /* '' */
.icon-cancel:before { content: '\e811'; } /* '' */
.icon-rss:before { content: '\e812'; } /* '' */
.icon-volume-off-1:before { content: '\e813'; } /* '' */
.icon-volume-low:before { content: '\e814'; } /* '' */
.icon-volume-middle:before { content: '\e815'; } /* '' */
.icon-bell:before { content: '\e816'; } /* '' */
.icon-location:before { content: '\e817'; } /* '' */
.icon-volume-off:before { content: '\e818'; } /* '' */
.icon-volume-down:before { content: '\e819'; } /* '' */
.icon-volume-up:before { content: '\e81a'; } /* '' */
.icon-down:before { content: '\e81b'; } /* '' */
.icon-left-1:before { content: '\e81c'; } /* '' */
.icon-right-1:before { content: '\e81d'; } /* '' */
.icon-down-dir:before { content: '\e81e'; } /* '' */
.icon-up-dir:before { content: '\e81f'; } /* '' */
.icon-up:before { content: '\e820'; } /* '' */
.icon-ok:before { content: '\e821'; } /* '' */
.icon-comment:before { content: '\e822'; } /* '' */
.icon-videocam-1:before { content: '\e823'; } /* '' */
.icon-flickr:before { content: '\e824'; } /* '' */
.icon-logo-tiktok:before { content: '\e825'; } /* '' */
.icon-volume-high:before { content: '\e826'; } /* '' */
.icon-quote-left-1:before { content: '\e827'; } /* '' */
.icon-star-1:before { content: '\e828'; } /* '' */
.icon-star-empty-1:before { content: '\e829'; } /* '' */
.icon-quote-right-1:before { content: '\e82a'; } /* '' */
.icon-quote-left-alt:before { content: '\e82b'; } /* '' */
.icon-quote-right-alt:before { content: '\e82c'; } /* '' */
.icon-mastodon:before { content: '\e82d'; } /* '' */
.icon-twitter-1:before { content: '\e82e'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */
.icon-mixcloud:before { content: '\f289'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-lastfm:before { content: '\f321'; } /* '' */
